{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <h2>About Django Fans</h2>
    </div>
    <div class="container">
        <p>
        Hi there. Thanks for checking out Django Fans. 
        </p>
        <p>    
        This is a project that I wanted to do complete to improve my general development skills. I wanted to make some kind of forum 
        and I utltimately chose to make it about Django as that was the backend framework I used for the project.
        </p>
        <p>
        In order to improve my skills, I wanted to make this forum a lot cleaner than most forums people list on their project portfolios.
        I wanted it to include some nice features one might expect from a proper forum they might frequent. Although I could certaintly add 
        a lot more, I tried to include a few of those features within Django Fans.
        </p> 

    </div>
{% endblock content %}