{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <h2>About Django Fans</h2>
    </div>
    <div class="container">
        <p>
        Hi there, Nick here. Thanks for checking out Django Fans.
        </p>
        <p>    
        This is a CRUD project that I wanted to complete to help improve my general development skills. I wanted to make some kind of forum 
        as creating online forums require implementing core concepts of web development. I ultimately chose to make the forum about 
        the backend framework I used for the project, Django.
        </p>
        <p>
        In order to really improve my skills, I wanted to make this forum a lot cleaner than most forums 
        I have seen listed on the project portfolios of other developers. I wanted it to include some nice features one might expect from a proper forum they 
        frequent. Although I could certaintly add a lot more, I hope the time I put in shows.
        </p> 
        <h5>About The Developer</h5>
        <p>
        My name is Nick. At the time of writting this I am 27 years old and I work for the Government of Canada as Python Developer and Data Engineer. 
        Before my current job, I held the previous positions (in order of most recent to least recent): Data Scientist, Junior Data Scientist, Graduate Course Assistant, 
        Graduate Research Assitant, Research Assistant, and Research Assistant again. 
        </p>
        <p>
        Although I did not major in CS or Engineering, I took core CS Undergraduate courses
        and did a lot of statistical research which involved significant amounts of programming. This pushed me to persue a Masters Degree in Data Science.
        </p>
        <p>
        In my free time I love to cook and experience new cultures. I enjoy cycling and staying active (both physically and mentally). I am always excited to learn
        new things and consider myself a lifelong student. This is one of the reasons why I enjoy development and data jobs/tasks; there's always so much to learn
        and get excited about in these areas.
        </p>
        <p>
        If I could tell my 17 year-old self some things I have learned over the past 10 years, I would say:
        <ul>
            <li>Always work at something you enjoy and that’s worthy of your time and talent.</li>
            <li>Give people more than they expect and do it cheerfully.</li>
            <li>Be patient and persistent with what you want to accomplish.</li>
            <li>Commit yourself to quality. Take pride in all that you do.</li>
            <li>Be a self-starter. When it's all said and done, rely on no one but yourself.</li>
            <li>Be decisive. Even if it means that sometimes you'll make the wrong decision.</li>
        </ul>
        </p>
        <div class="container text-center mt-4">
            <img src="/media/profile_pics/nick_profile.jpg">

        </div>

    </div>
{% endblock content %}