{% extends "blog/base.html" %}
{% block content %}

{% if post.author.username == 'Nick' %}
<article class="media content-section admin-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata admin-metadata">
            <a class="mr-2" href="{% url 'user-post' post.author.username %}"><i class="fas fa-crown"></i> {{ post.author }} <small>[admin]</small></a>
            <small>{{ post.date_posted|date:"M. d, Y" }}</small>
        </div>
        <div>
            {% if post.author == user%}
            <a class="text-secondary mt-1 mb-1" href="{% url 'post-update' post.id %}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="text-secondary mt-1 mb-1" href="{% url 'post-delete' post.id %}">
                <i class="fas fa-trash-alt"></i>
            </a>
            {% endif %}
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content admin-content">{{ post.content }}</p>
    </div>
</article>
{% else %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
            <small>{{ post.date_posted|date:"M. d, Y" }}</small>
        </div>
        <div>
            {% if post.author == user%}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
            {% endif %}
            </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
<hr>
<div class="mb-3">
    <a class="btn btn-secondary" href="{% url 'comment-create' post.id %}">comment</a>
</div>
{% for comment in post.comments.all %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-post' comment.author.username %}">{{ comment.author }}</a>
            <small>{{ comment.date_posted|date:"M. d, Y" }}</small>
        </div>
        <p class="article-content">{{ comment.content }}</p>
        {% if comment.author == user%}
        <div>
                <a class="text-secondary mt-1 mb-1" href="{% url 'comment-update' comment.id %}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="text-secondary mt-1 mb-1" href="{% url 'comment-delete' comment.id %}">
                    <i class="fas fa-trash-alt"></i>
                </a>
        </div>
        {% endif %}
    </div>
</article>
{% empty %}
<small>No comments yet.</small>
{% endfor %}
{% endif %}
{% endblock content %}

<a href="https://www.linkedin.com/in/nick-hopewell-a83223132/" target="blank">
    <i class="fab fa-linkedin fa-2x"></i>
</a>